<!-- public/views/apicalls.html -->

<div class="container">
    <h1>Tässä on apimme routet ja komennot lueteltuna.</h1>
    <br>
    <h2>GET /uusi/:tunnus/:passwd</h2>
    <p>response: 'Uusi kayttaja luotu' tai virhe</p>

    <br>
    <h2>GET /toto/*</h2>
    <p>Ohjaa taskutotoon ja pyytää kirjautumisen</p>

    <br>
    <h2>GET /uusi/:tunnus/:passwd</h2>
    <p>response: 'Uusi kayttaja luotu' tai virhe</p>

    <br>
    <h2>GET /tilastot/voitot</h2>
    <p>response: Virhe , tai json muodossa kaikki määritelty data</p>

    <br>
    <h2>GET /kanta/parsi/:id</h2>
    <p>Parametrinä hevosen numero is raveihin, tallentaa kys hevosen tiedot kantaan</p>
    <p>response: Virhe , tai json muodossa hevosen data</p>

    <br>
    <h2>GET /kanta/parsi/:alku/:loppu'</h2>
    <p>Parametrinä hevosen numero is raveihin, josta parsiminen alkaa sekä numero johon lopetetaan</p>
    <p>Käytä vain luvalla, koska tietokanta saattaa ottaa hittitä</p>
    <p>response: Virhe , tai json muodossa hevosen data</p>

    <br>
    <h2>GET /export/hepat</h2>
    <p>tekee kaikista kannassa olevista hevosista tekstitiedoston, myöhemmin muutetaan että tekee BSON tiedoston</p>
    <p>response:</p>
    <p>Data written successfully!</p>
    <p>"Tietokanta varmuuskopioitu"</p>

    <br>
    <h2>GET /export/kayttajat</h2>
    <p>tekee kaikista kannassa olevista käyytäjistä selkokielisen tekstitiedoton, huom salasananat eivät ole salattuja vielä</p>
    <p>response:</p>
    <p>Data written successfully!</p>
    <p>"Tietokanta varmuuskopioitu"</p>

    <br>
    <h2>GET /hevonen</h2>
    <p>Response: kaikki hevoset kannasta</p>

    <br>
    <h2>POST /hevonen/:id</h2>
    <p>Response: "poistettu", poistaa hevosen joka löytyy parametrillä hevonenid</p>

    <br>
    <h2>GET /hevonen/:id</h2>
    <p>Rasponse: Hakee hevonenid:tä vastaavan hevosen kannasta</p>

    <br>
    <h2>GET /hevonen/nimi/:id</h2>
    <p>Rasponse: Hakee nimeä vastaavan hevosen kannasta</p>



    <p>{{ tagline }}</p>
</div>
