<div class="container">
    <h1>Chat</h1>
</div>

    <div class="form-group">
      <label for="usr">Nimi:</label>
      <input type="text" class="form-control" id="usr" ng-model="nimi">
      <label for="comment">Comment:</label>
      <textarea class="form-control" rows="5" id="comment" ng-model="viesti"></textarea>
      <br>
      <button type="submit" ng-click="lahetaViesti()" class="btn btn-primary">Lähetä</button>
    </div>

    <div class="container">
      <h2>Viestit</h2>
      <div class="panel panel-default">
      <div class="panel-body" ng-init="init()">
        <ul class="list-group" >
          <li class="list-group-item" ng-repeat="x in viestit">{{x | json}}</li>
        </ul>
        </div>
      </div>
    </div>


<!--<p>{{ tagline }}</p>-->
