<div class="page-header">
    <h1>Lisää dataa...</h1>
</div>

<div class="container">
  <h2>Lisää tipsi</h2>
  <form role="form">
    <div class="form-group">
      <label for="kilpailu">Kilpailu:</label>
      <input type="text" id="kilpailu" class="form-control" ng-model="kilpailu">
    </div>
      <div class="form-group">
        <div class="form-group">
          <label for="comment">Vihje:</label>
          <textarea class="form-control" rows="5" id="comment" ng-model="vihje"></textarea>
        </div>
    </div>
    <button type="submit" ng-click="lahetaVihje()" class="btn btn-default">Lähetä</button>
  </form>
</div>
<br>
<ul class="list-group" >
  <li class="list-group-item" ng-repeat="x in vihjeet">{{ x | json}}</li>
</ul>

<hr>
<div class="container">
  <h2>Lisää tallikommentti</h2>
  <form role="form">
    <div class="form-group">
      <label for="talli">Talli:</label>
      <input type="text" id="kilpailu" class="form-control" ng-model="talli">
    </div>
      <div class="form-group">
        <div class="form-group">
          <label for="comment">Kommentti:</label>
          <textarea class="form-control" rows="5" id="comment" ng-model="tallikommentti"></textarea>
        </div>
    </div>
    <button type="submit" ng-click="lahetaTalliKommentti()" class="btn btn-default">Lähetä</button>
  </form>
</div>
<br>
<ul class="list-group" >
  <li class="list-group-item" ng-repeat="x in tallikommentit">{{ x | json}}</li>
</ul>
