<div class="page-header">
    <h1>Tilastosivu</h1>
</div>
    <div class="container">
      Valitse jos haluat hakea nimellä:
      <input type="checkbox" ng-model="nimella">
    <input type="text" class="form-control" ng-model="haku">
        <br>
    <button type="button" ng-click="haeHevonen()" class="btn btn-primary">Hae</button>
</div>
<div class="container">
  <h2>Hakutulos</h2>
  <div class="panel panel-default">
    <div class="panel-body"><pre>{{hepat | json}}</pre></div>
  </div>
</div>
